@import url("reset.css");
*{
	margin:0;
	padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
}
img{
    display: block;
}

/*--------------------------------------------------------------*/

header{
	width: 100%;
	height: auto;
	background: rgba(0, 0, 0, 0.6);
	overflow: hidden;
	padding: 10px 20px;
	position: fixed;
}


.logo{
	float: left;
}

.logo h3{
	color: #fff;

}
.nav{
	float: right;
}

.nav ul {
	padding-top: 3px;
}

.nav ul li{
	float: left;
}


.nav ul li a{
	display: block;
	color: #fff;
	font-weight: 900;
	margin-left: 16px;
	transition: color .5s;
}

.nav ul li a:hover{
	color: #888;
}

article{
	width: 100%;
	height: 900px;
	background-image: url(../images/photo-computer.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center ;


}

.maintittle{
	text-align: center;
	padding-top: 310px;
}


.maintittle h3{
	font-size: 66px;
	color: #fff;
}


.maintittle p{
	font-size: 16px;
	font-weight: 900;
	color: #fff;
}

.maintittle hr{
	width: 16%;
	height: 6px;
    margin-left: 44%;
    margin: 30px auto;
    background-color:#cab7b7;
    border: 0

	}

/*--------------------------------------------------------------*/

.about{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #AAA;
}

.about > .aboutcontent{
	width: 50%;
	margin: 0 auto;
	padding: 60px;
	text-align: center;
}

.about > .aboutcontent > hr{
	width: 16%;
	height: 6px;
    margin-left: 44%;
    margin: 30px auto;
    background-color:#cab7b7;
    border: 0

}

.about > .aboutcontent > h2{
	font-size: 32px;
	color: #fff;
}

.about > .aboutcontent > p{
	font-size: 16px;
	line-height: 30px;
    font-weight: 900;
    color: #fff;
}