@import url("reset.css");
*{
	margin:0;
	padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
}
img{
    display: block;
}
html,body{
    width: 100%;
    height: 100%;
}

menubtn{
    display: none;
}

header{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #373c3f
}

header > nav{
    width: 1024px;
    height: 97px;
    margin: 0 auto;
}

header > nav >h1{
    line-height: 97px;
    color: #fff;
    font-size: 18px;
    float: left;
}

header > nav > div{
    color: #fff;
    font-size: 18px;
    float: left;
    padding-left: 20px;
}

header > nav > div > a{
    display: block;
    line-height: 97px;
    padding: 0 10px;
    float: left;
    color: #fff;
}

article{
    position: relative;
    width: 100%;
    height: 577px;
    background-image: url('../images/banner.png');
    background-size: cover;
}

article > div{
    position: absolute;
    width: 740px;
    height: 275px;
    top: 50%;
    left: 50%;
    margin-top: -138px;
    margin-left: -500px;

}


article > div >h1{
    font-size: 52px;
    color: #fff;
    
}



article > div >p{
    font-size: 26px;
    color: #fff;
    padding-top: 43px;
        
}


aside{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #27212c;

}

aside > div{
    width: 1024px;
    height: 243px;
    margin: 0 auto;
}
aside > div > h3{
    display: block;
    width: 77%;
    height: 244px;
    float: left;
    color: #9685a4;
    line-height: 244px;
}
aside > div > a{
    display: block;
    width: 23%;
    height: 244px;
    float: left;
    background-color: #bc3183;
    background-image: url('../images/rightbtn.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

main{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #5b0fa1;
}

main > div {
    width: 1024px;
    height:auto ;
    overflow: hidden;
    margin: 0 auto;
}

main > div > div{
    width: 33.33%;
    height: 294px;
    float: left;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


.box1{background-image: url('../images/rightbtn2.jpg');
    background-size: 20px 31px; }
.box2{background-image: url('../images/r1.jpg');}
.box3{background-image: url('../images/r2.jpg');}

footer{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #ebebeb;

}

footer > div {
    width: 1024px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 51px 84px 170px 084px;
}

footer > div >div{
    width: 45%;
    height: auto;
    overflow: hidden;
}

footer > div >div>p{
    font-size: 14px;
    color: #515151;
    padding-bottom: 46px;

}
footer > div >div.leftbox{
    float: left;
}

footer > div >div.rightbox{
    float: right;
    padding-top: 70px;
}

div.leftbox >h3{
    font-size: 30px;
    color: #088ca5;
    margin-bottom: 33px;
    
}


@media screen and (max-width:1024px){

    header > nav, article > div,aside > div,main > div,footer > div{
        width: 100%;
    }

    header > nav{
        padding-left: 53px;
    }
    
    article{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    article > div{
        position: static;
        top: 0%;
        left: 0%;
        margin-top: 0px;
        margin-left: 0px;
        height: auto;
        padding-left: 8.2%;
        padding-right: 21%;
    }

    aside > div > h3{
       padding-left: 8.49%;
       padding-right: 8.49%;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
    

}
@media screen and (max-width:640px){
    #menubtn{
        display: block;
        width: 82px;
        height: 74px;
        background-image: url('../images/menu.jpg');
        float: right;
    }
    header > nav{
        transition: height 0.3s;
        height: 74px;
        overflow: hidden;
        
    }
    
    header > nav.open{
        height: 444px;
    }

    header > nav >h1{
        line-height: 74px;
        
    }
    
    header > nav > div{
      
        padding-left: 0px;
        float: none;
        width: 100%;
        height: auto;
        clear: both;
    }
    
    header > nav > div > a{
        
        line-height: 74px;
        width: 100%;
        height: auto;
        overflow: hidden;
      
    }

    article{
       
        height: 348px;
        
    }

    article > div >h1{
        font-size: 40px;
        
        
    }
    
    
    
    article > div >p{
        font-size: 20px;
        padding-top: 30px;
        
            
    }

  

    aside > div{
        
        height: 150px;
        
    }
    aside > div > h3{
        
        height: 100%;
       
        line-height: 150px;
    }
    
    

    aside > div >a{
        
        height: 100%;
       
    }

    main > div > div{
        width: 100%;
        padding-top: 75%;
        height: auto;
        float: none;
        
    }

    footer > div {
       
        padding: 12%;
    }

    footer > div >div{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    footer > div >div>p{
        font-size: 14px;
        color: #515151;
        padding-bottom: 46px;
    
    }
    footer > div >div.leftbox{
        float: left;
    }
    
    footer > div >div.rightbox{
        float: right;
        padding-top: 70px;
    }
    
    div.leftbox >h3{
        font-size: 30px;
        color: #088ca5;
        margin-bottom: 33px;
        
    }

}
@media screen and (max-width:320px)
{

}